body {
  font-family: 'Lato', sans-serif;
  background-color: #f9f9f9;
  padding-bottom: 5em;
}


/* reset bootstrap */
input[type="radio"] {
  vertical-align: middle;
}
.nav.nav-tabs {
  margin-bottom: -1px;
}
@media (max-width: 320px) {
  .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }
  .nav>li>a {
    padding: 5px 10px;
  }
}

/* datepicker */
.uib-datepicker-popup td .btn {
  border-radius: 0 !important;
}
.uib-datepicker-popup .btn-info {
  background-color: #2196f3 !important;
}


/* calendar */
mwl-calendar span[data-cal-date] {
  font-size: 1.2em !important;
}
mwl-calendar span[data-cal-date]:not([ng-bind='day.label']) {
  cursor: pointer;
}

/* mine */
.pi-navtabs {
  border-bottom: 1px solid #ddd;
  margin: 10px auto;
}
.pi-btns .btn{
  margin-bottom: 4px;
}

.label-active {
  background-color: #5cb85c;
}