<div ng-controller="DownloadCtrl">

  <!-- {{{ alerts -->
  <div ng-controller="AlertCtrl" class="row-fluid alerts">
    <div class="alert alert-{{alert.type == 'error' ? 'danger' : alert.type}}" ng-repeat="alert in pendingAlerts">
      <button type="button" class="close" ng-click="removeAlert($index)">x</button>
      <span ng-bind-html="alert.msg"></span>
    </div>
  </div>
  <!-- }}} -->

<div class="row">
  <div class="col-md-8 col-xs-12 pi-btns">
    <div class="btn-group" uib-dropdown>
      <button id="split-button" type="button" class="btn btn-primary" ng-click="addUris()" ng-disabled="!p.connected()"><i class="fa fa-fw fa-plus">&nbsp;</i>Add</button>
      <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="!p.connected()">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
        <li role="menuitem"><a href ng-click="!p.connected() || addUris()">Download by URIs</a></li>
        <li role="menuitem"><a href ng-click="!p.connected() || addTorrents()">Download by Torrents</a></li>
        <li role="menuitem"><a href ng-click="!p.connected() ||addMetalinks()">Download by Metalinks</a></li>
      </ul>
    </div>
    <button class="btn btn-primary" ng-disabled="!p.connected() || activeCount() == 0" ng-click="forcePauseAll()"><i class="fa fa-fw fa-pause">&nbsp;</i>Pause All</button>
    <button class="btn btn-primary" ng-disabled="!p.connected() || waitingCount() == 0" ng-click="unpauseAll()"><i class="fa fa-fw fa-play">&nbsp;</i>Resume All</button>
    <button class="btn btn-warning" ng-disabled="!p.connected() || stoppedCount() == 0" ng-click="purgeDownloadResult()"><i class="fa fa-fw fa-trash">&nbsp;</i>Purge Completed</button>
  </div>
  <div class="col-md-4 col-xs-12">
    <input class="form-control" type="text" placeholder="{{ 'Search' | translate }}" ng-model="downloadFilter" autocomplete="off" ng-change="onDownloadFilter()" />
  </div>
</div>
<div class="row pi-navtabs">
    <ul class="nav nav-tabs">
      <li ng-class="{ active : filterActive && !filterComplete}"><a href ng-click="runningFilters()" data-toggle="tab">Downloading <span class="badge" ng-show="activeCount()+waitingCount()!==0">{{activeCount()+waitingCount()}}</span></a></li>
      <li ng-class="{ active : !filterActive && filterComplete }"><a href ng-click="completeFilters()" data-toggle="tab">Completed <span class="badge" ng-show="stoppedCount()!==0">{{stoppedCount()}}</span></a></li>
      <li ng-class="{ active : filterActive && filterComplete }"><a href ng-click="resetFilters()" data-toggle="tab">All</span></a></li>
    </ul>
</div>


<div class="row">
  <div ng-class="{'col-md-3': enable.sidebar.show}" ng-show="enable.sidebar.show">
    <!-- {{{ nav side bar -->
    <div class="sidebar-nav">
      <!-- {{{ starred properties -->
      <ul class="clearfix nav nav-list" ng-controller="StarredPropsCtrl" ng-show="properties.length && enable.sidebar.starredProps">
        <li class="nav-header">{{ 'Quick Access Settings' | translate }}</li>
        <li ng-repeat="prop in properties" class="form-group">
          <label title="{{prop.desc}}" style="width: 100%;">{{prop.name}}</label>
          <div class="form-group">
            <select style="width: 100%;" ng-show="prop.options.length && !prop.multiline" class="form-control" ng-options="opt for opt in prop.options" ng-model="prop.val"></select>
            <input style="width: 100%;" ng-show="!prop.options.length && !prop.multiline" type="text" class="form-control input-large" ng-model="prop.val"/>
            <textarea style="width: 100%;" ng-show="prop.multiline" ng-model="prop.val"></textarea>
          </div>
        </li>
        <li>
          <button ng-disabled="!enabled()" ng-click="save()" class="btn btn-default btn-sm">{{ 'Save settings' | translate }}</button>
        </li>
      </ul>
      <!-- }}} -->
    </div>
    <!-- }}} -->
  </div>

  <div ng-class="{'col-md-9': enable.sidebar.show, 'col-md-12': !enable.sidebar.show }">
    <!-- {{{ downloads -->
    <!-- Bug?? <div ng-show="!totalAria2Downloads() && totalAria2Downloads() > getDownloads()" class="hero-unit">-->
    <div ng-show="!totalAria2Downloads()" class="jumbotron">
      {{ 'Currently no download in line to display, use the' | translate }} <strong>{{ 'Add' | translate }}</strong> {{ 'download button to start downloading files!' | translate }}
    </div>


    <!-- {{{ download template -->

    <div
      ng-repeat="download in getDownloads()"
      class="row-fluid download" data-gid="{{download.gid}}"
      ng-click="toggleCollapsed(download)">
    <div class="download-name download-item download-controls clearfix">
        <!-- {{{ download control buttons -->
        <div class="btn-group" role="group" ng-click="$event.stopPropagation()">
            <button
                ng-if="hasStatus(download, ['active', 'waiting'])"
                class="btn btn-default"
                ng-click="pause(download)">
                <span class="fa fa-fw fa-pause"></span>
            </button>

            <button
                ng-if="hasStatus(download, 'paused')"
                class="btn btn-default"
                ng-click="resume(download)">
                <span class="fa fa-fw fa-play"></span>
            </button>

            <button
                ng-if="canRestart(download)"
                class="btn btn-default"
                ng-click="restart(download)">
                <span class="fa fa-fw fa-repeat"></span>
            </button>
            <button
                ng-if="hasStatus(download, 'paused')"
                class="btn btn-default"
                ng-click="selectFiles(download)">
                <span class="fa fa-fw fa-list"></span>
            </button>
            <button
                ng-if="hasStatus(download, 'waiting')"
                class="btn btn-default hidden-phone"
                ng-click="moveDown(download)">
                <span class="fa fa-fw fa-arrow-circle-o-down"></span>
            </button>
            <button
                ng-if="hasStatus(download, 'waiting')"
                class="btn btn-default hidden-phone"
                ng-click="moveUp(download)">
                <span class="fa fa-fw fa-arrow-circle-o-up"></span>
            </button>
            <div class="btn-group" uib-dropdown>
                <button class="btn btn-default" uib-dropdown-toggle>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li class="visible-phone">
                        <a ng-click="remove(download)"
                           href><span class="fa fa-fw fa-times">&nbsp;</span> {{ 'Remove' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- }}} -->

        <div class="title">
            <span class="fa fa-fw fa-magnet" style="color: red;" ng-show="download.metadata"></span>
            {{download.name}}
        </div>
    </div>
      <div class="download-overview download-item clearfix" ng-switch="download.status">
        <!-- {{{ statistics -->
        <ul class="stats pull-left" ng-switch-when="active">
          <!-- {{{ active download statistics -->
          <li class="label label-active hidden-phone hidden-tablet">
            <span title="{{ 'Download status' | translate }}"><span class="fa fa-fw fa-play">&nbsp;</span> {{ 'Active' | translate }}</span>
          </li>

          <li class="label label-default" ng-class="{'label-active': download.downloadSpeed > 2048, 'label-warning': download.downloadSpeed <= 2048}">
            <span title="{{ 'Download Speed' | translate }}"><span class="fa fa-fw fa-arrow-circle-o-down">&nbsp;</span> {{download.downloadSpeed | bspeed}}</span>
          </li>

          <li ng-show="download.bittorrent" class="label label-active hidden-phone" ng-class="{'label-info': download.uploadSpeed > 2048}">
            <span title="{{ 'Upload Speed' | translate }}"><span class="fa fa-fw fa-arrow-circle-o-up">&nbsp;</span> {{download.uploadSpeed | bspeed}}</span>
          </li>

          <li class="label label-active">
            <span title="{{ 'Estimated time' | translate }}"><span class="fa fa-fw fa-clock-o">&nbsp;</span> {{getEta(download) | time}}</span>
          </li>

          <li class="label label-active hidden-phone">
            <span title="{{ 'Download Size' | translate }}"><span class="fa fa-fw fa-cloud-download">&nbsp;</span> {{download.totalLength  | blength}}</span>
          </li>

          <li class="label label-active hidden-phone">
            <span title="{{ 'Downloaded' | translate }}"><span class="fa fa-fw fa-arrow-circle-o-down">&nbsp;</span> {{download.completedLength | blength}}</span>
          </li>
          
          <li class="label label-active hidden-phone">
            <span title="{{ 'Uploaded' | translate }}"><span class="fa fa-fw fa-upload">&nbsp;</span> {{download.uploadLength | blength}}</span>
          </li>

          <li class="label label-active hidden-phone hidden-tablet">
            <span title="{{ 'Progress' | translate }}"><span class="fa fa-fw fa-chevron-right">&nbsp;</span> {{getProgress(download)}}%</span>
          </li>

          <!-- }}} -->
        </ul>

        <ul class="stats pull-left" ng-switch-when="paused">
          <!-- {{{ paused download statistics -->
          <li class="label label-info">
            <span title="{{ 'Download status' | translate }}"><span class="fa fa-fw fa-pause">&nbsp;</span> {{ 'Paused' | translate }}</span>
          </li>

          <li class="label label-info">
            <span title="{{ 'Download Size' | translate }}"><span class="fa fa-fw fa-cloud-download">&nbsp;</span> {{download.totalLength | blength}}</span>
          </li>

          <li class="label label-info hidden-phone">
            <span title="{{ 'Downloaded' | translate }}"><span class="fa fa-fw fa-download">&nbsp;</span> {{download.completedLength | blength}}</span>
          </li>
          
          <li class="label label-info" title="{{ 'Download Speed' | translate }}">
            <span class="fa fa-fw fa-arrow-circle-o-down">&nbsp;</span> <span class="download-downloadSpeed">{{download.downloadSpeed | bspeed}}</span>
          </li>

          <li class="label label-info hidden-phone">
            <span title="{{ 'Download Path' | translate }}"><span class="fa fa-fw fa-folder-open">&nbsp;</span> {{download.dir}}</span>
          </li>

          <!--  }}} -->
        </ul>

        <ul class="stats pull-left" ng-switch-when="waiting">
          <!-- {{{ paused download statistics -->
          <li class="label label-default">
            <span title="{{ 'Download status' | translate }}"><span class="fa fa-fw fa-caret-right">&nbsp;</span> {{ 'Waiting' | translate }}</span>
          </li>

          <li class="label label-default">
            <span title="{{ 'Download Size' | translate }}"><span class="fa fa-fw fa-cloud-download">&nbsp;</span> {{download.totalLength | blength}}</span>
          </li>

          <li class="label label-default hidden-phone">
            <span title="{{ 'Downloaded' | translate }}"><span class="fa fa-fw fa-download">&nbsp;</span> {{download.completedLength | blength}}</span>
          </li>

          <li class="label label-default hidden-phone">
            <span title="{{ 'Download Path' | translate }}"><span class="fa fa-fw fa-folder-open">&nbsp;</span> {{download.dir}}</span>
          </li>

          <!--  }}} -->
        </ul>

        <ul class="stats pull-left" ng-switch-when="complete">
          <!-- {{{ complete download statistics -->

          <li class="label label-success">
            <span title="{{ 'Download status' | translate }}"><span class="fa fa-fw fa-check-square-o">&nbsp;</span> {{ 'Complete' | translate }}</span>
          </li>

          <li class="label label-success">
            <span title="{{ 'Download Size' | translate }}"><span class="fa fa-fw fa-cloud-download">&nbsp;</span> {{download.totalLength | blength}}</span>
          </li>

          <li class="label label-active hidden-phone">
            <span title="{{ 'Uploaded' | translate }}"><span class="fa fa-fw fa-upload">&nbsp;</span> {{download.uploadLength | blength}}</span>
          </li>

          <li class="label label-success hidden-phone">
            <span title="{{ 'Download Path' | translate }}"><span class="fa fa-fw fa-folder-open">&nbsp;</span> {{download.dir}}</span>
          </li>

          <!-- }}} -->
        </ul>

        <ul class="stats pull-left" ng-switch-when="removed">
          <!-- {{{ removed download statistics -->
          <li class="label label-warning">
            <span title="{{ 'Download status' | translate }}"><span class="fa fa-fw fa-times">&nbsp;</span> {{ 'Removed' | translate }}</span>
          </li>

          <li class="label label-warning">
            <span title="{{ 'Download Size' | translate }}"><span class="fa fa-fw fa-cloud-download">&nbsp;</span> {{download.totalLength | blength}}</span>
          </li>

          <li class="label label-warning hidden-phone">
            <span title="{{ 'Download Path' | translate }}"><span class="fa fa-fw fa-folder-open">&nbsp;</span> {{download.dir}}</span>
          </li>

          <!-- }}} -->
        </ul>

        <ul class="stats pull-left" ng-switch-when="error">

          <!-- {{{ error download statistics -->
          <li class="label label-danger">
            <span title="{{ 'Error ' | translate }}"><span class="fa fa-fw fa-times-circle">&nbsp;</span> {{getErrorStatus(download.errorCode)}}</span>
          </li>

          <li class="label label-default">
            <span title="{{ 'Download Size' | translate }}"><span class="fa fa-fw fa-cloud-download">&nbsp;</span> {{download.totalLength | blength}}</span>
          </li>

          <li class="label label-default hidden-phone">
            <span title="{{ 'Download Path' | translate }}"><span class="fa fa-fw fa-folder-open">&nbsp;</span> {{download.dir}}</span>
          </li>

          <!-- }}} -->
        </ul>

        <!-- }}} -->
      </div>
      <div class="download-progress download-item">
        <div class="progress">
          <div ng-class="'progress-bar progress-bar-striped ' + getProgressClass(download)" style="width: {{getProgress(download)}}%;"></div>
        </div>
      </div>
      <div ng-switch="download.collapsed">
        <div ng-switch-when="false" collapse="download.animCollapsed">
          <ul class="download-files hidden-phone download-item">
            <li class="label label-default" ng-repeat="file in download.files" ng-class="{'label-success': file.selected}">
              <!--<a ng-if="hasDirectURL()" ng-click="$event.stopPropagation()" ng-href="{{getDirectURL()}}{{file.relpath | encodeURI}}" target="download">{{file.relpath}} ({{file.length | blength}})</a>-->
              <span>{{file.relpath}} ({{file.length | blength}})</span>
            </li>
          </ul>
          <div ng-show="hasStatus(download, 'active')" class="download-item hidden-phone">
            <!--<div class="download-graph" dspeed="download.downloadSpeed" uspeed="download.uploadSpeed" xticks="7" yticks="7"  dgraph draw="!download.collapsed"></div>-->
          </div>
        </div>
      </div>
    </div>
    <!-- }}} -->

    <!-- }}} -->
  </div>

  <!-- {{{ download pagination -->
  <div class="col-md-offset-3 col-md-9" ng-show="totalDownloads > pageSize">
    <div class="pagination pull-right">
      <pagination
        total-items="totalDownloads"
        items-per-page="pageSize"
        max-size="11"
        ng-model="currentPage"
        boundary-links="true"
        previous-text="&lsaquo;"
        next-text="&rsaquo;"
        first-text="&laquo;"
        last-text="&raquo;"
        >
      </pagination>
    </div>
  </div>
  <!-- }}} -->

</div>
</div>

<!-- }}} -->

<!-- {{{ modals -->
<div ng-controller="ModalCtrl">

<!--{{{ add uri modal -->
<script type="text/ng-template" id="getUris.html">
  <div class="modal-header">
    <button class="close" ng-click="$dismiss()">&times;</button>
    <h4>{{ 'Add Downloads By URIs' | translate }}</h4>
  </div>
  <form class="modal-body">
    <fieldset>
      <p class="help-block">
    {{ '- You can add multiple downloads (files) at the same time by putting URIs for each file on a separate line.' | translate }}<br />
    {{ '- You can also add multiple URIs (mirrors) for the *same* file. To do this, separate the URIs by a space.' | translate }}<br />
    {{ '- A URI can be HTTP(S)/FTP/BitTorrent-Magnet.' | translate }}</br>
      </p>
      <textarea rows="4" class="form-control" ng-model="getUris.uris" autofocus placeholder="http://mirror1.com/f1.jpg http://mirror2.com/f1.jpg\nhttp://mirror1.com/f2.mp4 http://mirror2.com/f2.mp4 --out=file2.mp4"></textarea>
      <br /><br />

        <div>
          <div ng-click="getUris.downloadSettingsCollapsed = !getUris.downloadSettingsCollapsed" class="modal-advanced-title">
            {{ 'Download settings' | translate }}
            <i ng-hide="!getUris.downloadSettingsCollapsed" class="fa fa-fw fa-caret-right"></i>
            <i ng-hide="getUris.downloadSettingsCollapsed" class="fa fa-fw fa-caret-down"></i>
          </div>
          <div collapse="getUris.downloadSettingsCollapsed" class="form-horizontal modal-advanced-options">
            <div class="form-group" ng-repeat="(name, set) in getUris.settings">
              <label class="col-sm-3 control-label">{{name}}</label>

              <div class="col-sm-9 controls">
                <select class="form-control" ng-show="set.options.length && !set.multiline" ng-options="opt for opt in set.options" ng-model="set.val">
                </select>
                <input ng-show="!set.options.length && !set.multiline" type="text" class="form-control input-xxlarge modal-form-input-verylarge" ng-model="set.val"/>
                <textarea class="form-control" ng-show="set.multiline" ng-model="set.val"></textarea>
              </div>
              <br />
            </div>
          </div>
        </div>
    </fieldset>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="$dismiss()">{{ 'Cancel' | translate }}</button>
      <button class="btn btn-default btn-primary" ng-click="$close()" ng-disabled="!p.connected()">{{ 'Start' | translate }}</button>
    </div>
  </form>
</script>
<!-- }}} -->

<!-- {{{ add torrent modal -->
<script type="text/ng-template" id="getTorrents.html">
  <div class="modal-header">
    <button class="close" ng-click="$dismiss()">x</button>
    <h4>{{ 'Add Downloads By Torrents' | translate }}</h4>
  </div>
  <form class="modal-body">
    <fieldset>
      <legend>{{ 'Select Torrents' | translate }}</legend>
      <p class="help-block">
    {{ '- Select the torrent from the local filesystem to start the download.' | translate }}<br />
    {{ '- You can select multiple torrents to start multiple downloads.' | translate }}<br />
    {{ '- To add a BitTorrent-Magnet URL, use the Add By URI option and add it there.' | translate }}
      </p>
      <div class="form-horizontal form-group">
        <label class="control-label" style="text-align: left;"><b>{{ 'Select a Torrent' | translate }}:</b></label>
        <div class="controls">
          <input type="file" class="input-xlarge" fselect="getTorrents.files" multiple/>
        </div>
      </div>
      <br />

      <div>
        <div class="modal-advanced-title">
          {{ 'Download settings' | translate }}
        </div>
        <div class="form-horizontal modal-advanced-options">
          <div class="form-group" ng-repeat="(name, set) in getTorrents.settings">
            <label class="col-sm-3 control-label">{{name}}</label>

            <div class="col-sm-9 controls">
              <select class="form-control" ng-show="set.options.length && !set.multiline" ng-options="opt for opt in set.options" ng-model="set.val">
              </select>
              <input ng-show="!set.options.length && !set.multiline" type="text" class="form-control input-xxlarge modal-form-input-verylarge" ng-model="set.val"/>
              <textarea class="form-control" ng-show="set.multiline" ng-model="set.val"></textarea>
            </div>
            <br />
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">{{ 'Cancel' | translate }}</button>
    <button class="btn btn-default btn-primary" ng-click="$close()">{{ 'Start' | translate }}</button>
  </div>
</script>
<!-- }}} -->

<!-- {{{ add metalink modal -->
<script type="text/ng-template" id="getMetalinks.html">
  <div class="modal-header">
    <button class="close" ng-click="$dismiss()">x</button>
    <h4>{{ 'Add Downloads By Metalinks' | translate }}</h4>
  </div>
  <form class="modal-body">
    <fieldset>
      <legend>{{ 'Select Metalinks' | translate }}</legend>
      <p class="help-block">
    {{ '- Select the Metalink from the local filesystem to start the download.' | translate }}<br />
    {{ '- You can select multiple Metalinks to start multiple downloads.' | translate }}
      </p>
      <div class="form-horizontal form-group">
        <label class="control-label" style="text-align: left;"><b>{{ 'Select a Metalink' | translate }}:</b></label>
        <div class="controls">
          <input type="file" class="input-xlarge" fselect="getMetalinks.files" multiple/>
        </div>
      </div>
      <br />

      <div>
        <div class="modal-advanced-title">
          {{ 'Download settings' | translate }}
        </div>
        <div class="form-horizontal modal-advanced-options">
          <div class="form-group" ng-repeat="(name, set) in getMetalinks.settings">
            <label class="col-sm-3 control-label">{{name}}</label>

            <div class="col-sm-9 controls">
              <select class="form-control" ng-show="set.options.length && !set.multiline" ng-options="opt for opt in set.options" ng-model="set.val">
              </select>
              <input ng-show="!set.options.length && !set.multiline" type="text" class="form-control input-xxlarge modal-form-input-verylarge" ng-model="set.val"/>
              <textarea class="form-control" ng-show="set.multiline" ng-model="set.val"></textarea>
            </div>
            <br />
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">{{ 'Cancel' | translate }}</button>
    <button class="btn btn-default btn-primary" ng-click="$close()">{{ 'Start' | translate }}</button>
  </div>
</script>

<script type="text/ng-template" id="selectFiles.html">
  <div class="modal-header">
    <button class="close" ng-click="$dismiss()">x</button>
    <h4>{{ 'Choose files to start download for' | translate }}</h4>
  </div>

  <form class="form-horizontal modal-body">
    <fieldset>
      <div class="form-group selectFiles">
        <div ng-repeat="file in selectFiles.files">
          <label class="control-label">{{ 'Select to download' | translate }}</label>

          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" ng-model="file.selected"/>{{file.relpath}}
            </label>
          </div>
          <br /><br />
        </div>
      </div>
    </fieldset>
  </form>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">{{ 'Cancel' | translate }}</button>
    <button class="btn btn-default btn-primary" ng-click="$close()">{{ 'Choose' | translate }}</button>
  </div>
</script>

</div>
  </div>
</div>