<!doctype html>
<html>

<head>
  <link rel="icon" href="favicon.ico" />

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Little Pi</title>

  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="bower_components/bootswatch-dist/css/bootstrap.min.css"> <!-- TODO, use cdn, use min -->
  <link rel="stylesheet" href="bower_components/angular-cron-gen/build/cron-gen.min.css">  <!-- change to dist -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css">
  <link rel="stylesheet" href="bower_components/angular-ui-switch/angular-ui-switch.min.css">
  <!--<link rel="stylesheet" href="css/flag-icon.min.css">-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/download.css">
  <!--<link rel="stylesheet" href="css/modals.css">-->

  <!-- external javascript dependencies -->
  <!-- script src="js/libs/jquery-2.2.4.min.js"></script> <!-- TODO remove-->
  <script src="js/libs/lodash-4.17.3.min.js"></script> <!-- TODO remove -->
  <!--<script src="js/libs/angular.min.js"></script>-->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/socket.io-client/dist/socket.io.min.js"></script>
  <script src="bower_components/angular-cron-gen/build/cron-gen.min.js"></script> <!-- change to dist -->
  <script src="bower_components/moment/min/moment.min.js"></script> <!-- TODO remove, change calendar dateFormatter to angular-->
  <script src="bower_components/rrule/lib/rrule.js"></script> <!-- change to dist -->
  <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script> <!-- ngtouch, etc. -->
  <script src="bower_components/angular-ui-switch/angular-ui-switch.min.js"></script>
  <!--<script src="bower_components/angular-cron-gen/dist/templates.js"></script>-->
  <!--<script src="bower_components/bootswatch-dist/js/bootstrap.min.js"></script>-->
  <!--<script src="js/libs/angularui-bootstrap-tpls.min.js"></script>-->
  <!--<script src="js/libs/jquery.flot.min.js"></script> <!-- TODO remove-->
  <!--<script src="js/libs/jquery.flot.time.min.js"></script> <!-- TODO remove-->

  <!-- We do manual resize currently
  <script src="js/libs/jquery.flot.resize.js"></script>
  -->

  <!-- webui core -->
  <script src="js/init.js"></script>
  <script src="configuration.js"></script>

  <!--<script src="js/directives/chunkbar.js"></script>-->
  <!--<script src="js/directives/dgraph.js"></script>-->
  <script src="js/directives/fselect.js"></script>
  <!--<script src="js/directives/textarea.js"></script>-->

  <script src="js/filters/bytes.js"></script>
  <script src="js/filters/url.js"></script>

  <script src="js/services/deps.js"></script>
  <script src="js/services/base64.js"></script>
  <script src="js/services/utils.js"></script>
  <script src="js/services/modals.js"></script>
  <script src="js/services/alerts.js"></script>
  <script src="js/services/errors.js"></script>
  <script src="js/services/socket.js"></script>

  <script src="js/services/settings/settings.js"></script>
  <script src="js/services/settings/filters.js"></script>

  <!--<script src="js/services/rpc/jsoncall.js"></script>-->
  <script src="js/services/rpc/sockcall.js"></script>
  <script src="js/services/rpc/syscall.js"></script>
  <script src="js/services/rpc/rpc.js"></script>
  <script src="js/services/rpc/helpers.js"></script>

  <script src="js/ctrls/main.js"></script>
  <script src="js/ctrls/modal.js"></script>
  <script src="js/ctrls/alert.js"></script>
  <script src="js/ctrls/props.js"></script>
  <script src="js/ctrls/download.js"></script>
  <script src="js/ctrls/remind.js"></script>
  <script src="js/ctrls/control.js"></script>

  <!-- translate -->
  <script src="bower_components/angular-translate/angular-translate.min.js"></script>
  <script src="js/translate/en_US.js"></script>
  <script src="js/translate/zh_CN.js"></script>
</head>

<body ng-controller="MainCtrl" ng-cloak>

<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#/" class="navbar-brand"><strong style="background-color: #E30B5C;color: #fff;padding: 2px 9px 0;">LittlePi</strong></a>
      <button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" uib-collapse="navCollapsed">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/download')}">
          <a ng-click="navCollapsed=true" href="#/download">Download</a>
        </li>
        <li ng-class="{ active: isActive('/remind')}">
          <a ng-click="navCollapsed=true" href="#/remind">Remind</a>
        </li>
        <li ng-class="{ active: isActive('/control')}">
          <a ng-click="navCollapsed=true" href="#/control">Control</a>
        </li>
        <li ng-class="{ active: isActive('/help')}">
          <a ng-click="navCollapsed=true" href="#/help">Help</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href ng-show="!isRemote()" target="_blank">{{p.id}}</a></li>
        <li uib-dropdown ng-show="isRemote()">
          <a href uib-dropdown-toggle>{{ $root.p.id===null ? "Choose" : $root.p.id }} <b class="caret" ng-show="isRemote()"></b></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li>
              <a ng-click="switchPi('aaa102'); navCollapsed=true" href>aaa102</a>
            </li>
            <li>
              <a ng-click="switchPi('aaa103'); navCollapsed=true" href>aaa103</a>
            </li>
            <li class="divider"></li>
            <li><a href="#/login">Logout</a></li>
          </ul>
        </li>
        <li uib-dropdown>
          <a href uib-dropdown-toggle>Mine <b class="caret"></b></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li>
              <a ng-click="changeLanguage('en_US'); navCollapsed=true" href>English</a>
            </li>
            <li>
              <a ng-click="changeLanguage('zh_CN'); navCollapsed=true" href>简体中文</a>
            </li>
            <li class="divider"></li>
            <li><a ng-click="navCollapsed=true" href="#/login">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>

<!-- {{{ body -->
<div role="main" class="container">
<ng-view></ng-view>
</div>
<!-- }}} -->

</body>
</html>
