<div ng-controller="RemindCtrl">
  <div class="row">
    <div class="col-md-8 col-xs-12 pi-btns">
      <button class="btn btn-primary" ng-click="addRemind()" ng-disabled="!p.connected()"><i class="fa fa-fw fa-plus">&nbsp;</i>Add</button>
    </div>
    <div class="col-md-4 col-xs-12">
      <input class="form-control" type="text" placeholder="{{ 'Search' | translate }}" ng-model="downloadFilter" autocomplete="off" ng-change="onDownloadFilter()" />
    </div>
  </div>
  <h2 class="text-center">{{ calendarTitle }}</h2>
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="btn-group">
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="viewDate"
          decrement="calendarView"
          ng-click="cellIsOpen = false">
          &laquo; Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="viewDate"
          set-to-today
          ng-click="cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="viewDate"
          increment="calendarView"
          ng-click="cellIsOpen = false">
          Next &raquo;
        </button>
      </div>
    </div>
    <br class="visible-xs visible-sm">
    <div class="col-md-6 text-center">
      <div class="btn-group">
        <ul class="nav nav-pills">
          <li ng-model="calendarView" uib-btn-radio="'year'" ng-click="cellIsOpen = false"><a href>Year</a></li>
          <li class="active" ng-model="calendarView" uib-btn-radio="'month'" ng-click="cellIsOpen = false"><a href>Month</a></li>
          <li ng-model="calendarView" uib-btn-radio="'week'" ng-click="cellIsOpen = false"><a href>Week</a></li>
          <li ng-model="calendarView" uib-btn-radio="'day'" ng-click="cellIsOpen = false"><a href>Day</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <mwl-calendar
    events="events"
    view="calendarView"
    view-date="viewDate"
    view-title="calendarTitle">
  </mwl-calendar>

<div ng-controller="ModalCtrl">
  <script type="text/ng-template" id="addRemind.html">
    <div class="modal-header">
      <button class="close" ng-click="$dismiss()">&times;</button>
      <h4>{{ 'Add Remind' | translate }}</h4>
    </div>
    <div class="modal-body">
      <div class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label for="content" class="col-md-2 control-label">Content</label>
            <div class="col-md-10">
              <input type="text" ng-model="remind.cronText" class="form-control" id="content" placeholder="Remind content..">
            </div>
          </div>
          <div class="form-group">
            <label for="dateStart" class="col-md-2 control-label">Start from</label>
            <div class="col-md-10">
              <div class="input-group pull-left col-md-7 col-xs-6">
                  <input id="dateStart" type="text" class="form-control" uib-datepicker-popup ng-model="remind.dtStart" is-open="popupStart.opened" datepicker-options="{showWeeks: false}" show-button-bar="false" on-open-focus="false" type="datetime-local" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="popupStart.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
              </div>
              <div class="input-group col-md-5 col-xs-6" uib-timepicker ng-model="remind.dtStart" show-spinners="false" mousewheel="false"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="input" class="col-md-2 control-label"> </label>
            <div class="col-md-10">
              <select class="form-control" ng-model="remind.isRepeat" ng-options="o.v as o.n for o in [{ n: 'No repeat', v: false }, { n: 'Repeat', v: true }]"></select>
              <br>
              <form name="cronForm" uib-collapse="!remind.isRepeat">
                <cron-gen ng-model="remind.cronExpression" ng-disabled="remind.isCronDisabled" options="remind.cronOptions" cron-format="quartz" name="cron"></cron-gen>
              </form>
            </div>
          </div>
          <div class="form-group" ng-show="remind.isRepeat">
            <label class="col-md-2 control-label"> </label>
            <div class="col-md-10">
              <select class="form-control" ng-model="remind.endRepeat" ng-options="o.v as o.n for o in [{ n: 'Repeat never end', v: false }, { n: 'End repeat on', v: true }]"></select>
              <br>
              <div class="input-group pull-left col-md-7 col-xs-6" ng-show="remind.endRepeat">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="remind.dtEnd" is-open="popupEnd.opened" datepicker-options="{showWeeks: false}" show-button-bar="false" on-open-focus="false" ng-required="false" close-text="Close" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="popupEnd.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
              <div class="input-group col-md-5 col-xs-6" uib-timepicker ng-model="remind.dtEnd" ng-show="remind.endRepeat" show-spinners="false" mousewheel="false"></div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>  
    <div class="modal-footer">  
      <button class="btn btn-default" ng-click="$dismiss()">{{ 'Close' | translate }}</button>
      <button class="btn btn-default btn-primary" ng-disabled="!p.connected()" ng-click="$close()">{{ 'Save' | translate }}</button>
    </div>  
  </script>
</div>

</div> <!-- /RemindCtrl -->